@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: url('/images/sign-in.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.index-body {
    background-image: url('/images/book.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    color: lightblack;
  }
  
  .main-header {
    font-weight: bold;
    color: rgb(28, 54, 197);
    font-size: 5.6em;
    margin: -140px 20px 0 20px;
  }
  
  .subheader {
    margin: 0 20px 0 20px;
    font-size: 1.4em;
  }
  
  .index-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .auth-links-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    z-index: 10;
    min-height: 60px;
  }

  .auth-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 80px 0 0;
    height: 100%;
  }
  
  .signup-link,
  .signin-link {
    display: inline-block;    
    text-decoration: none;
    font-size: 1.5em;
    padding: 8px 15px;
    border-radius: 25px;
    width: 10em;
    text-align: center;
    margin: 20px 10px;
    height: auto;
    line-height: normal;
    vertical-align: middle; 
    
  }
  
  .signup-link {
    background-color: #4898ce;
    color: white;
    margin: 0 30px 20px 0px;
  }
  
  .signup-link:hover {
    background-color: #53ffe2;
  }
  
  .signin-link {
    background-color: #0bbae6;
    color: #1c2e5b;
    margin: 0px 0 20px 0;
    width: 10em;
  }
  
  .signin-link:hover {
    background-color: #53ffe2;
  }
  
  .signin-container,
  .signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: -1px;
  }

  .signup-button:hover {
    background-color: #14a6d3;
  }


  .signup-container h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: #1c2e5b;
}
  
  .signin-container h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: #1c2e5b;
}

  
  h1 { 
    color: #0a48e2;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 20em;
    height: 20em;
    background-color: #a1e3f3;
    padding: 30px 40px 20px 40px;
    border-radius: 50%;
    color: #4b598e;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: -40px;
  }

  .signin-button:hover {
    background-color: #14a6d3;
  }
  
  input {
    border: 1px solid rgb(182, 182, 182);
    padding: 8px;
    border-radius: 10px;
  }
  
  button {
    padding: 12px;
    background-color: #ce4866;
    color: white;
    border-radius: 40px;
    border: none;
    margin: 15px 0;
    font-size: 1.1em;
  }

  .all-apps-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .all-apps-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 70px 30px;
    width: 90%;
    transition: background-color 0.3s ease;
  }
  
  .add-app-link {
    text-decoration: none;
    margin: 0 15px;
    color: rgb(8, 245, 245);
    font-weight: bold;
  }
  
  .add-app-link:hover {
    color: red;
  }

  ul {
    list-style: none;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  ul > a {
    text-decoration: none;
    color: #1c2e5b;
    width: 50%;
    background-color: #f6e7e7;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 15px 0;
    font-weight: bold;
    text-align: center;
    transition: color 0.3s ease;
  }
  
  ul > a:hover {
    color: #e84a6c; 
    
  }

  .bcck-link {
    text-decoration: none;
    color: #1c2e5b;
    width: 50%;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 15px 0;
    font-weight: bold;
    text-align: center;
    transition: color 0.3s ease;
  }
  
  .bcck-link:hover {
    color: #e84a6c; 
  }

  .new-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .new-body > form,
  .edit-body > form {
    height: 70%;
  }
  
  textarea,
  select {
    border: 1px solid rgb(182, 182, 182);
    border-radius: 10px;
    padding: 10px;
  }
  
  select {
    margin-bottom: 10px;
  }
  
  .edit-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    top: 20%;
    left: 50%;
    transform: translateY(-7%)
    
  }

  .edit-title {
    text-align: center;
    margin-bottom: 60px; 
  }
 
  .update-book-btn {
    padding: 12px;
    background-color: #ce4866;
    color: white;
    border-radius: 40px;
    border: none;
    margin: 15px 0;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
  }
  
  .update-book-btn:hover {
    background-color: #092572;
   }

   .footer-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f8f9fa; 
    padding: 10px 0;
    
  }
  